* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --corpo: #C9996B;
    --cabeca: #EDE9E6;
    --texto: white;
    --texto-inverso: #5C4F4A;
    --texto-fundo: rgba(255, 255, 255, 0.664);
    --borda: #5C766D;
    --logo: #b9b9b9;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}   

/* Cabeça do site */
header {                            
   padding: 10px;
   color: var(--texto);
}

body, #principal {
    background-image: linear-gradient(to bottom, #5C4F4A, #a57f5a);
}

/* Menu do site */
#nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 85px;
}

#nav-bar h2 {
    font-weight: bolder;
    font-size: 1.7em;
    color: var(--cabeca);
}

#nav-bar ul li {
    list-style-type: none;
}

#nav-bar ul li a {
    color: var(--texto);
    text-decoration: none;
    padding: 5px;
    transition: color .5s;
    font-weight: 400;
}

#nav-bar ul li a:hover {
    color: var(--texto-fundo);
}

/* Introdução do site */
section {
   padding: 25px;
}

#principal {
    display: grid;
    justify-content: center;
    align-items: center;
}

/* Titulo */
#principal h2 {
    padding: 5px;
    font-size: 1.4em;
    color: var(--texto-fundo);
    text-align: center;
}

/* Descrição do site */
#principal .paragrafo {
    padding: 30px;
    width: 100%;
    font-weight: 500;
    font-size: 0.9em;
    align-items: center;
    text-align: center;
    color: var(--texto-fundo);
    transition: color .7s, transform .7s;
}

#principal .paragrafo:hover {
    transform: translateY(-2px);
    text-shadow: solid black;
}

#principal div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

/* Botão de contato */
#principal .botao a {
    width: 100%;
    background-color: var(--cabeca);
    border-radius: 15px;
    padding: 15px 75px 15px 75px;
    text-align: center;
    font-weight: bolder;
    box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.24);
    transition: background-color .5s, color .5s;
    color: var(--texto-inverso);
    text-decoration: none;
}

#principal .botao a:hover {
    background-color: var(--texto-fundo);
}

/* Imagem da empresa */
#principal img {
    border-radius: 2px 80px 2px 55px;
    border: 1px solid var(--borda);
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.178);
    display: block;
    margin: auto;
    cursor: pointer;
}

#principal .foto {
    width: 70%;
    height: 260px;
    margin-top: 60px;
    aspect-ratio: 1/1;
    padding: 1px transparent;
    transition: transform .7s, border .7s, box-shadow .7s;
}

#principal .foto:hover {
    transform: translateY(-3px);
    border: 1px solid var(--cabeca);
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.219);
}

/* Parte de informações da empresa */
#infos {
    background-color: var(--cabeca);
    display: grid;
    grid-template-columns: 1fr;
}

#infos div {
    padding: 20px;
    align-items: center;
    border-radius: 10px;
    background-color: var(--cabeca);
    margin-bottom: 20px;
    color: var(--texto-inverso);
}

#infos div p {
    color: var(--texto-inverso);
}

.caixa {
    border-radius: 10px;
    background-color: var(--cabeca);
    margin-top: 20px;
}

/* link da empresa e etc. */
.caixa a {
    color: rgb(74, 74, 253);
    padding: 20px;
    transition: color .5s;
}

.caixa a:hover {
    color: rgb(94, 94, 170);
}

/* Mais algumas infos e detalhes da empresa */
#detalhes {
    background-color: var(--corpo);
    padding: 5px;
}

#detalhes .img1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin: 30px 20px;
    gap: 45px;
}

/* 1 texto dos detalhes */
#detalhes .img1 p {
    width: fit-content;
    margin: 0;
    font-size: 0.9em;
    color: var(--texto);
}

/* 1 imagem */
#detalhes .img1 img {
    width: 50%;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 50px 6px 50px 6px;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.281);
    transition: transform .7s;
    cursor: pointer;
}

#detalhes .img1 img:hover {
    transform: translateX(-2px);
}

#detalhes .img2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin: 30px 20px;
    gap: 45px;
}

/* 2 texto dos detalhes */
#detalhes .img2 p {
    width: fit-content;
    margin: 0;
    font-size: 0.9em;
    color: var(--texto);
}

/* 2 imagem */
#detalhes .img2 img {
    width: 50%;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 6px 50px 6px 50px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.349);
    transition: transform .7s;
    cursor: pointer;
}

#detalhes .img2 img:hover {
    transform: translateX(-2px);
}

/* Descrição sobre algumas areas da empresa, e para que servem e funcionam */
#areas {
    background-color: var(--cabeca);
}

/* titulo */
#areas h2 {
    margin-top: 20px;
    margin-bottom: -10px;
    margin-left: 40px;
    font-size: 1.5em;
}

.container-areas {
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.container-areas div {
    padding: 30px;
}

/* fotos de setores da empresa */
.container-areas img {
    width: 65%;
    aspect-ratio: 2/1;
    border-radius: 10px;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.514);
    border: 1px solid rgba(255, 255, 255, 0.308);
}

/* textos de informações */
.container-areas p {
    margin-top: 20px;
    font-size: 0.9em;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--logo);
}

/* Área de prato, refeições que a empresa tem e oferece */
#comidas {
    background-color: var(--borda);
    padding: 20px;
}

/* titulo */
#comidas h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    color: var(--cabeca);
    font-size: 1.5em;
}

/* fotos das comidas */
#comidas .fotos {
    display: grid;
    grid-template-columns: auto auto auto;
}

#comidas .fotos img {
    width: fit-content;
    height: 88px;
    display: block;
    margin: auto;
    align-items: center;
    border-radius: 50%;
    aspect-ratio: 1/1;
    margin-top: 45px;
    margin-bottom: 35px;
    transition: transform .5s;
    box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.356);
    cursor: pointer;
}

#comidas .fotos img:hover {
    transform: translateY(-4px);
}

/* separação entre as imagens e o texto abaixo */
#comidas hr {
    width: 85%;
    display: block;
    margin: auto;
}

/* texto sobre as comidas que tem, e a sua importância para a empresa */
#comidas p {
    display: block;
    margin: auto;
    font-size: 0.9em;
    color: var(--cabeca);
    width: 230px;
    margin-top: 50px;
    margin-bottom: 80px;
    padding: 10px;
}

/* imagem dos fornecedores de alimento da empresa */
.restaurante img {
    width: fit-content;
    height: 200px;
    display: block;
    margin: auto;
    border-radius: 50%;
    aspect-ratio: 2/2;
    box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.315);
    transition: transform .5s;
    cursor: pointer;
}

/* separação entre as imagens dos fornecedores*/
#comidas .restaurante hr {
    width: 60%;
    display: block;
    margin: auto;
    margin-bottom: 23px;
}

.restaurante img:hover {
    transform: translateY(-3px);
}

/* @ dos fornecedores */
#comidas .restaurante div .pr {
    font-size: 0.8em;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

/* ajustes das imagens e @ */
#comidas .restaurante div .pr a {
    color: var(--texto);
    text-decoration: none;
    transition: color .5s;
}

#comidas .restaurante div .pr a:hover {
    color: var(--texto-fundo);
    text-decoration: underline;
}

#comidas .restaurante div {
    padding-top: 50px;
}

/* Parte de enecerramento do site, rodapé. */
#container-footer {
    background-image: linear-gradient(to top, #4b403c, #997653);
    color: white;
}

/* Redes socias para contato */
#redes {
    padding: 50px;
    font-weight: bolder;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

/* ajustes das imagens */
#redes a {
    color: var(--cabeca);
    transition: transform .5s, color .5s;
}

#redes a:hover {
    color: var(--logo);
    transform: translateY(-3px);
}

/* creditos e infos finais sobre a empresa, e de como entrar em contato */
.creditos {
    font-size: 0.8em;
    font-weight: bold;
    display: grid;
    grid-template-columns: auto auto;
    gap: 45px;
    padding: 20px;
    text-align: left;
}

/* ajuste */
.creditos p {
    margin: 10px;
}

/* links de patrocinadores e de contatos da empresa */
.links {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* ajustes dos links */
.links a, #link {
    margin-top: 30px;
    color: var(--cabeca);
    font-size: 0.8em;
    text-decoration: none;
    transition: color .5s, text-decoration .5s;
}

.links a:hover {
    color: var(--logo);
    text-decoration: underline;
}

/* credito final ao desenvolvedor, ou direitos autorais da empresa */
.dev p {
   padding-top: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 5px;
   font-size: 0.9em;
   font-weight: bolder;
}

/* ajustes do link e credito */
.dev p a {
    color: var(--cabeca);
    text-decoration: none;
    transition: color .5s, transform .5s;
}

.dev p a:hover {
    color: var(--logo);
    text-decoration: underline;
}